body{
  font-family: "Roboto",sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

/* Header */

.logo {
  color: #4d5ae5;
  font-family: "Raleway",sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-span-header {
    color: #2e2f42;
  }

.page-nav .link {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.link :hover {
color: #404bbf;
}
.link :active{
color: #404bbf;
}

.adressa{
  font-style: normal;
}
.adressa .link {
  color: #434455;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.link:hover {
  color: #404bbf;
}
.link:focus{
  color: #404bbf;
}
/* Main */
.dark-bg{
background-color: #2e2f42;
}
.feature{
  font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}


.main-page-btn {
  background-color: #4D5AE5;
  font-family: "Roboto",sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.main-page-btn:hover{
  background-color: #404BBF;
}
.main-page-btn:focus{
  background-color: #404BBF;
}

.main-caption{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
color: #2e2f42;
}
.feature-text{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.heading{
  background-color: #F4F4FD;
}
.list-img{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.list{
  background-color: #FFFFFF;
}

/* Footer */
.footer-item {
  color: #f4f4fd;
}
.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
.footer {
  background-color: #2e2f42;
}
.footer-link {
  font-family: "Raleway",sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
